<div class="top-well">
  
   <div class="col-md-6 col-md-offset-3" style="margin-top: 0%;">
		<h2>Web Crwaler</h2>
		<form name="form" ng-submit="webCrawlFunc()" role="form">
			<div class="form-group" ng-class="{ 'has-error': form.urlLink.$dirty && form.urlLink.$error.required }">
				<label for="urlLink">Url</label>
				<input type="text" name="urlLink" id="urlLink" placeholder="URL" class="form-control" ng-model="urlLink" required />
				<span ng-show="form.urlLink.$dirty && form.urlLink.$error.required" class="help-block">Please Enter URL</span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': form.urlDepth.$dirty && form.urlDepth.$error.required }">
				<label for="urlDepth">Depth</label>
				<input type="number" name="urlDepth" id="urlDepth" placeholder="Depth" class="form-control" ng-model="urlDepth" required />
				<span ng-show="form.urlDepth.$dirty && form.urlDepth.$error.required" class="help-block">Please Enter Depth</span>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary" ng-disabled="loadingTime">Go</button>
			</div>
		</form>
		<div class="alert alert-warning" ng-show="errorMessage!=null">{{errorMessage}}</div>
		<div class="alert alert-danger" ng-show="invalidUrl">Invalid Url Provided</div>
		<img ng-show="loadingTime" src="img/loading.gif">
	</div>
	<div ng-show="displayData" class="col-xs-12" ng-repeat="each_app in outputData">
		<div class="col-xs-12 parentLink">
			<p class="col-xs-12 parentHeadLink">{{each_app['own_link']}}</p>
			<ul class="col-xs-6 contentSection">
				<p class="col-xs-12 childHead">Web Links</p>
				<li ng-repeat=" link in each_app['links'] track by $index">
					{{link}}
				</li>
			</ul>
			<div class="col-xs-6 contentSection">
				<p class="col-xs-12 childHead">Images</p>
				<div class="col-xs-2" ng-repeat=" img in each_app['image_list'] track by $index">
					<img src="{{img}}" height="50" width="50">
				</div>
			</div>
		</div>
	
	</div>

</div>
<style>
.top-well{
	color:black;
}
.parentLink{
	border: 2px solid #0dc1c1;
    margin: 10px 0 10px 0;
}
.parentHeadLink{
    border-bottom: 2px solid #0dc1c1;
    padding: 5px;
    font-weight: bold;
}
.contentSection{
	overflow:auto;
}
.childHead{
	text-align: center;
    font-weight: bold;
}
</style>
