<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/"><img src="images/logo_big.png" height="50" width="50" alt="logo" /></a>
        </div>
        
        
    </div>
</nav>
